#### Some preprocessing on the AMPds2 Dataset

In [4]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

'data\\Electricity_P'

In [5]:
data =pd.read_csv(os.path.join('data', 'Electricity_P.csv'))

In [6]:
data.shape

(1051200, 24)

In [7]:
data.head()

,UNIX_TS,WHE,RSE,GRE,MHE,B1E,BME,CWE,DWE,EQE,...,WOE,B2E,CDE,DNE,EBE,FGE,HTE,OUE,TVE,UNE
0,1333263600,918,43,2,873,0,352,0,0,41,...,0,58,0,30,0,0,4,0,37,138
1,1333263660,913,43,0,870,0,354,0,0,35,...,0,58,0,30,0,0,4,0,37,138
2,1333263720,872,43,2,827,0,354,0,0,41,...,0,8,0,30,0,0,4,0,37,138
3,1333263780,872,43,2,827,0,354,0,0,40,...,0,7,0,30,0,0,4,0,37,142
4,1333263840,772,41,2,729,0,352,0,0,40,...,0,8,0,31,0,0,4,0,37,45

In [26]:
elec = data[['WHE', 'UNIX_TS']].rename(columns = {'WHE': 'load', 'UNIX_TS':'date'}).set_index('date')

In [27]:
elec.head()

            load
date
1333263600   918
1333263660   913
1333263720   872
1333263780   872
1333263840   772

In [28]:
elec.index = pd.to_datetime(elec.index, unit="s")

In [29]:
elec.head()

                     load
date
2012-04-01 07:00:00   918
2012-04-01 07:01:00   913
2012-04-01 07:02:00   872
2012-04-01 07:03:00   872
2012-04-01 07:04:00   772

In [32]:
elec_res = elec.resample('30T').mean()

In [34]:
elec_res.head()

                            load
date
2012-04-01 07:00:00  1947.400000
2012-04-01 07:30:00  1269.766667
2012-04-01 08:00:00  1645.300000
2012-04-01 08:30:00   845.666667
2012-04-01 09:00:00  1584.966667

In [33]:
elec_res.shape

(35040, 1)

In [38]:
elec_res.index = (elec_res.index.astype(int)/1e9).astype(int)

In [39]:
elec_states = elec_res.drop('load',1)

In [40]:
elec_res.to_csv('data/ampds_power_30T.csv')
elec_states.to_csv('data/ampds_power_30T_states.csv')