In [2]:
import pandas as pd
import numpy as np
import os

In [24]:
path = os.path.join(os.getcwd(),'data','energyCaroline')

C:\Users\Claire\AppData\Local\Continuum\anaconda3\envs\energykit\lib\site-packages\ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.

In [51]:
erdf = pd.read_csv(os.path.join(path, 'mois_ERDF_ODO_HDM.csv'), header=2, sep=";", skipfooter=35, skip_blank_lines=True)
erdf = erdf[['Horodate','EAS F1','EAS D1', 'EAS T']]
erdf2 = pd.read_csv(os.path.join(path, 'mois_ERDF_ODO_HDM.csv'), header=37, sep=";", skip_blank_lines=True)

C:\Users\Claire\AppData\Local\Continuum\anaconda3\envs\energykit\lib\site-packages\ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

#### Informations sur les relevés Linky récupérés sur 

source : http://tonweb.fr/Files/Other/doc_aide_suivi_conso.pdf

 * **Horodate** : indique la date et l’heure de la relève des index. Les horodates sont fournies en heure légale de Paris.
 
 * **Type de relevé** : le type de relevé est fixe. La valeur sera toujours « arrêté quotidien ».
 
 * **EAS FX**  (1 <= X <= 10): correspond à la valeur de l’index relevé sur le poste X de la grille Fournisseur.
 Un index sert à mesurer la quantité d’énergie consommée dans le logement pour la
facturation. L’énergie consommée est mesurée en permanence, mais son prix peut
varier selon les périodes de la journée, de la semaine ou du mois. Pour chaque période
tarifaire, on utilisera un index différent. Il peut y avoir, par exemple, un double index
"Heures Creuses" / "Heures Pleines". Le compteur Linky permet de disposer de 10
index pour les fournisseurs

 * **EAS DX** (1 <= X <= 4) : correspond à la valeur de l’index relevé sur le poste X de la grille Distributeur
Depuis le 1er août 2015, l’ensemble des utilisateurs du réseau contribuent au
financement des gestionnaires du réseau d’électricité, tels qu’ERDF. Ce financement
est appelé Tarif d'Utilisation des Réseaux Publics d’Electricité (TURPE). Le TURPE est
calculé sur la base d’une grille composée de quatre index (ou 4 postes), en fonction de
la période de la journée, les saisons ou le mois.

 * **EAS T** : correspond à la valeur de l’index totalisateur (combinaison de l’énergie produite et de
l’énergie consommée

In [52]:
erdf.head()

                    Horodate   EAS F1   EAS D1    EAS T
0  2018-09-03T00:00:00+02:00  2252187  2252187  2252187
1  2018-09-04T00:00:00+02:00  2259904  2259904  2259904
2  2018-09-05T00:00:00+02:00  2264037  2264037  2264037
3  2018-09-06T00:00:00+02:00  2268342  2268342  2268342
4  2018-09-07T00:00:00+02:00  2275513  2275513  2275513

In [53]:
#No produced energy 
print((erdf['EAS D1'].values == erdf['EAS F1'].values).sum())
print((erdf['EAS D1'].values == erdf['EAS T'].values).sum())

30
30

In [54]:
erdf = erdf[['Horodate','EAS F1']].rename(columns={'Horodate':'date', 'EAS F1' : 'index_value'})
erdf.index = pd.to_datetime(erdf['date'])

In [45]:
erdf.head()

                        date  index_value
0  2018-09-03T00:00:00+02:00      2252187
1  2018-09-04T00:00:00+02:00      2259904
2  2018-09-05T00:00:00+02:00      2264037
3  2018-09-06T00:00:00+02:00      2268342
4  2018-09-07T00:00:00+02:00      2275513

In [33]:
erdf2.head()

                    Horodate  Valeur
0  2018-09-02T14:19:09+02:00    4144
1  2018-09-03T19:08:24+02:00    3305
2  2018-09-04T07:02:31+02:00    1369
3  2018-09-05T23:43:27+02:00    1599
4  2018-09-06T20:10:12+02:00    3498

In [36]:
print(' erdf Dataset: {} rows, {} columns'.format(erdf2.shape[0],erdf2.shape[1]))
print('erdf2 Dataset: {} rows, {} columns'.format(erdf.shape[0],erdf.shape[1]))

 erdf Dataset: 30 rows, 2 columns
erdf2 Dataset: 30 rows, 3 columns